name: Preflight
on:
    push:
    workflow_dispatch:

permissions:
  contents: read

jobs:
    build:
        runs-on: ubuntu-24.04
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v1
              with:
                egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

            - name: Source checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v2

            - name: Setup node
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v2.5.1
              with:
                  node-version: 16
                  cache: 'yarn'

            - name: Check version
              run: yarn --version

            - name: Install deps
              run: yarn

            - name: Install pkg
              run: yarn add pkg

            - name: Check outdated
              run: yarn outdated

            - name: Build binary
              run: yarn pkg .

