name: Release prebuilt binary
on:
    release:
        types: [created]
    workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
    build:
        permissions:
          actions: write  # for skx/github-action-publish-binaries to attach binaries to release artifacts
          contents: read  # for actions/checkout to fetch code
        runs-on: ubuntu-24.04
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v1
              with:
                egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

            - name: Source checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v2

            - name: Setup node
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v2.5.1
              with:
                  node-version: 16
                  cache: 'yarn'

            - name: Check version
              run: yarn --version

            - name: Install deps
              run: yarn

            - name: Install pkg
              run: yarn add pkg

            - name: Check outdated
              run: yarn outdated

            - name: Build binary
              run: yarn pkg .

            - name: Upload the artifacts
              uses: skx/github-action-publish-binaries@b9ca5643b2f1d7371a6cba7f35333f1461bbc703 # master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: "cf-warp-*"
